@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: scroll; */
}
body{
    /* background-image:url(../images/cover.png); */
  
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: large;
    line-height: 1.5;
    color: #000;
    background-size: cover;
    background-position: center;
    position:relative; 
    padding-bottom: 0px;
    min-height: 100vh; 
    
} 
.header-content{
    width: 100%;
}

/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */
/* .carousel{
    height: 200px;
} */
/* .carousel-inner .carousel-iƒtem :active {
height: 360px;
object-fit: contain;
} */ 
/* about us card */

.content{
    width: 120%;
    display: inline-block;

}
.cardAbout, .cardProjects{
    font-size: large;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}


.carousel-item,.carousel-inner,.carousel-inner img{
    height: 100%;
}
/* resizing carousel images */
.carousel-item img{
    max-height: 780px;
}

#main-container {
    min-height: 100%;
    position: relative;
}

.toggle-button-nav {
    padding: 0 14px;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
    margin-left: auto;
    height: 30px;
    line-height: 24px;
    text-decoration: none;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c,#ffac33);
    border: 3px solid #ecc282;
    color: #363675;
   
}


/* button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    /* text-shadow: none; */
    /* display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(238, 170, 107), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 800 13.3333px Arial;
    padding: 12px 18px; */
    /* border-width: 15px; */
    /* border-style: outset; */
    /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
    /* border-image: initial; */


.btn btn-primary{
    background-color: orange;
}
nav img{
    float: left;
    width: 18%;
    height: 100%;
    padding-left: -2%;
    padding-top: -2%;
    padding-bottom: -2%;
}
#nav-mobile li a{
    text-decoration: none;
    letter-spacing: 1px;
    display: block;
    padding: 0 25px;
    font-size: 20px;
    line-height: 60px;
    position: relative;
    font-weight: bold;

    color: #ffffff;
    /* font-weight: 300; */
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
#nav-mobile li {
  list-style: none;
  display: inline-block;
     
}
#nav-mobile li .donate{
    border: 0;
    border-radius: 0.25rem;
    background: #1e88e5;
    color: white;
    margin: 0.25rem;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    line-height: 1.2¡;
  box-shadow: white;
}

.header-content{
   display: flex;
    float: right;
    margin: 20px;
    padding-top: 25px;
      overflow: hidden;
}


.header-content nav .icon{
    display: none;
}
nav{
    position: relative;
    padding: 10px 20px 10px 20px;
    text-align: right;
    background: blueviolet;
    margin: 0 auto;
    width: calc(100% - 80px); 
}
#nav-mobile li a:hover{
    background: black;
    color: #fff;
}
/* about styling */

.float-left{
    margin: 25px;
    float: left;
    max-height: 350px;
}

.float-right{
    margin: 25px;
    float: right;
     max-height: 200px;
}


.founder-section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    
}

footer .footerContainer {
    position: absolute;
    width: 100%;
    margin-bottom: auto;
    z-index: 1;
   
}
/* footer */
/* .footer{
bottom: 0px;
position: absolute;
height: 50px;
left: 0px;
right: 0px;
margin-bottom: 0px;
background-color: #303036;
color: white;
width: 100%;
padding: 25px;


} */
/* 
/* display: flex; */
/* flex-wrap: wrap; */


.footer .row {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    background-color: #303036;
    width: 100%;
    margin-right:auto;
    margin-left: auto;
    box-sizing: border-box;
    margin-bottom: auto;
    height: 100%;
}

 .footer-col{
    width: 25%;
    padding: 0 25px;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #bbbbbb;
    position: relative;
}



.footer ul{
    list-style: none;
}


.footer-col h4{
    color: #ffffff;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
   
}
/* end new footer */



.footer-col a img{
    width: 55%;
    height: 80%;
    
}
/* .footer-col ul li{
    margin-bottom: 10px;
} */

.footer-col ul a li{
    color: #ffffff;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col .links ul a li:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .socials a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:rgba(255,255,255,0.2);
    margin: 0px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .socials a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.footer-bottom{
    background: #303036;
color: white;
height: 50px;
width: 100%;
text-align: center;
bottom: 0px;
left: 0px;
flex-direction: column;
}


/* footer responsiveness */
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
       
    }
}
/* Nav bar responsiveness */
@media(max-width: 767px){
.header-content{
    width: 50%;
        margin-bottom: 30px;
}
}

@media(max-width: 574px){
    .header-content{
        width: 100%;
            
    }
    }
